<%= stylesheet_link_tag "tracess.css", :plugin => 'traces', :media => 'print,screen' %>
<%= javascript_include_tag('jquery/jquery.min.js', 'tracess.js', :plugin => 'traces') %>
<h2><%=t :text_traces_title%></h2>


<fieldset id="Search" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div>
	<%= form_tag({:contoller => "traces_home", :action => "searchstory", :id => @project.identifier}, :method => "get") do %>
  <div>
				<%= l(:lable_traces_search_criteria) %>
				<%= text_field_tag 'q', @question, :size => 30, :id => 'search-input' %>
				<%= submit_tag( l(:lable_traces_search_button) ) %>
  </div>
	<% end %>
  </div>
</fieldset>

<%= content_tag('p', l(:label_no_data), :class => 'nodata') if @traces_data.nil? ||  @traces_data.empty? %>

<br>
<% if !@traces_data.nil? && !@traces_data.empty? %>
<p>
  Download:
  <%=link_to("Excel", {:controller => 'traces_home', :action => 'export', :format => 'xls', :q => @question}) %>
</p>
<div class="scroll-div">
<table class="tracelist">
<thead>
	<tr>
		<th class='storyid'><%=l(:label_traces_story)%></th>
		<th class='storyname'><%=l(:label_traces_story_subject)%></th>
		<th class='phase'><%=l(:label_traces_phase)%></th>
		<th class='artifact'><%=l(:label_traces_artifact)%></th>
		<th class='revision'><%=l(:label_traces_revision)%></th>
	</tr>
</thead>
<tbody>
    <% @traces_data.each_with_index do |storyData, idx| %>
		<% storyRowFlag=false %>
		<% if !storyData.requirements.nil? && !storyData.requirements.empty? %>
			<% storyData.requirements.each_with_index do |phaseData, idx| %>
				<tr>
					<% if idx == 0 %>
						<td rowspan="<%=storyData.entries%>">
   							<%= link_to(storyData.id, issue_path(Issue.find(storyData.id))) %>
						</td>
						<td rowspan="<%=storyData.entries%>"><%=storyData.summary%></td>
						<td rowspan="<%=storyData.requirements.size%>"><%=l(:label_traces_requirement)%></td>
					<% end%>
					<td><%=phaseData.path%></td>
					<td><%phaseData.revisions.each_with_index do |rev,idx|%>
            <%=link_to(rev.slice(0,8), {:controller => 'repositories', :action => 'revision', :id => @project.identifier, :rev => rev}, :class => 'changeset')%><% if phaseData.revisions.size-1 != idx %>,<%end%>
          <%end%></td>
				</tr>
			<% end %>
			<% storyRowFlag=true %>
		<% end %>

		<% if !storyData.designs.nil? && !storyData.designs.empty? %>
			<% storyData.designs.each_with_index do |phaseData, idx| %>
				<tr>
					<% if idx == 0 && !storyRowFlag %>
						<td rowspan="<%=storyData.entries%>">
							<%= link_to(storyData.id, issue_path(Issue.find(storyData.id))) %>
						</td>
						<td rowspan="<%=storyData.entries%>"><%=storyData.summary%></td>
					<% end%>

					<% if idx == 0 %>
						<td rowspan="<%=storyData.designs.size%>"><%=l(:label_traces_design)%></td>
					<% end%>
					<td><%=phaseData.path%></td>
					<td><%phaseData.revisions.each_with_index do |rev,idx|%>
            <%=link_to(rev.slice(0,8), {:controller => 'repositories', :action => 'revision', :id => @project.identifier, :rev => rev}, :class => 'changeset')%><% if phaseData.revisions.size-1 != idx then %>,<%end%>
          <%end%></td>
				</tr>
			<% end %>
			<% storyRowFlag=true %>
		<% end %>

		<% if !storyData.makes.nil? && !storyData.makes.empty? %>
			<% storyData.makes.each_with_index do |phaseData, idx| %>
				<tr>
					<% if idx == 0 && !storyRowFlag %>
						<td rowspan="<%=storyData.entries%>">
							<%= link_to(storyData.id, issue_path(Issue.find(storyData.id))) %>
						</td>
						<td rowspan="<%=storyData.entries%>"><%=storyData.summary%></td>
					<% end%>
					<% if idx == 0 %>
						<td rowspan="<%=storyData.makes.size%>"><%=l(:label_traces_development)%></td>
					<% end%>
					<td><%=phaseData.path%></td>
					<td><%phaseData.revisions.each_with_index do |rev,idx|%>
            <%=link_to(rev.slice(0,8), {:controller => 'repositories', :action => 'revision', :id => @project.identifier, :rev => rev}, :class => 'changeset')%><% if phaseData.revisions.size-1 != idx then %>,<%end%>
          <%end%></td>
				</tr>
			<% end %>
			<% storyRowFlag=true %>
		<% end %>

		<% if !storyData.tests.nil? && !storyData.tests.empty? %>
			<% storyData.tests.each_with_index do |phaseData, idx| %>
				<tr>
					<% if idx == 0 && !storyRowFlag %>
						<td rowspan="<%=storyData.entries%>">
							<%= link_to(storyData.id, issue_path(Issue.find(storyData.id))) %>
						</td>
						<td rowspan="<%=storyData.entries%>"><%=storyData.summary%></td>
					<% end%>
					<% if idx == 0 %>
						<td rowspan="<%=storyData.tests.size%>"><%=l(:label_traces_testing)%></td>
					<% end%>
					<td><%=phaseData.path%></td>
					<td><%phaseData.revisions.each_with_index do |rev,idx|%>
            <%=link_to(rev.slice(0,8), {:controller => 'repositories', :action => 'revision', :id => @project.identifier, :rev => rev}, :class => 'changeset')%>
            <% if phaseData.revisions.size-1 != idx then %>,<%end%>
          <%end%></td>
				</tr>
			<% end %>
			<% storyRowFlag=true %>
		<% end %>

		<% if storyData.entries == 0 %>
        <tr>
            <% if !storyRowFlag %>
              <td rowspan="<%=storyData.entries%>">
                <%= link_to(storyData.id, issue_path(Issue.find(storyData.id))) %>
              </td>
							<td rowspan="<%=storyData.entries%>"><%=storyData.summary%></td>
              <td colspan="3"><%=l(:lable_traces_artifacts_not_available)%></td>
            <% end %>
        </tr>
        <% storyRowFlag=true %>
    <% end %>

    <% end %>
</tbody>
</table>
</div>
<div>
	 <% if @offset != 0 then%>
	 		 <%previous=@offset - @limit%>
       <% if !@question.nil? && !@question.empty? then %>
			    <%=link_to(l(:label_traces_previous), {:controller => 'traces_home', :action => 'pages', :id => @project.identifier, :offset=> previous, :q => @question}) %>
       <% else %>
          <%=link_to(l(:label_traces_previous), {:controller => 'traces_home', :action => 'pages', :id => @project.identifier, :offset=> previous}) %>
       <% end %>
	 <% end %><% if @offset != 0 && @isNext then %> | <%end%>

	 <%@offset=@offset + @limit%>

   <% if @isNext %>
      <% if !@question.nil? && !@question.empty? then %>
	        <%=link_to(l(:label_traces_next), {:controller => 'traces_home', :action => 'pages', :id => @project.identifier, :offset => @offset, :q => @question}) %>
      <% else %>
          <%=link_to(l(:label_traces_next), {:controller => 'traces_home', :action => 'pages', :id => @project.identifier, :offset => @offset}) %>
      <% end %>
	 <% end %>
</div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>
<% html_title(l(:text_menu_home)) %>
